@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(145deg, #fff, gray);
}

#todo-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  padding: 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background: linear-gradient(145deg, #fff, gray);
}

.layout ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.layout li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em  0.8em;
  margin: 0;
  position: relative;
  box-shadow: 0 2px 3px -2px #000;
}

.layout a {
  padding: 0.8em;
  text-decoration: none;
  color: black;
  text-align: center;
  background: linear-gradient(145deg, #fff, gray);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 1em;
  box-shadow: 0 2px 3px -2px #000;
  font-weight: 400;
  font-size: 16px;
  background: linear-gradient(145deg, #fff, gray);
}

i {
  color: rgb(20, 22, 17);
}

.title p,
.title i {
  padding: 0;
  margin: 0;
}

#input-box {
  flex: 1;
  width: 330px;
  height: 10px;
  border: none;
  padding: 1em 1em;
  margin-top: 1px;
  box-shadow: 0 2px 3px -2px #000;
  font-style: italic;
  font-size: 1em;
  outline: none;
  background: linear-gradient(145deg, #fff, gray);
}

.description {
  position: absolute;
  border: none;
  left: 3em;
  line-height: 36px;
  font-weight: 400;
  font-size: 16px;
  background: inherit;
}

#todo-form {
  box-shadow: 0 2px 3px -2px #000;
  background: linear-gradient(145deg, #fff, gray);
}

#todo-form button {
  background: none;
  border: none;
}
